<!DOCTYPE html>
<html>
<head>
  <title>MusicBlog</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="container">
    
	<div class="navbar navbar-fixed-top">
	  <div class="navbar-inner">
	    <div class="container">
	       <%= link_to "bomb-songs", root_path, class: "brand" %>
		<ul class="nav nav pull-right">
			<li><%= link_to "Hypem top songs", root_path %></li>
			<li><%= link_to "Music ninja top songs", root_path %></li>
			
		</ul>
		  </div>
		  </div>
		</div>

<%= yield %>

</div>
</body>
</html>
